@import "../../../styles/base";
.input-password-comp {
  position: relative;
  input {
    width: 100%;
    position: relative;
    padding-right: 3.5em;
    box-sizing: border-box;
  }
  &__show {
    position: absolute;
    right: 0;
    top: 0;
    width: 3.5em;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  &__state {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3em;
    border-bottom: 0.3em grey solid;
    &.error {
      border-bottom-color: $error-color;
    }
    &.warning1 {
      border-bottom-color: $warning1-color;
    }
    &.warning2 {
      border-bottom-color: $warning2-color;
    }
    &.ok{
      border-bottom-color: $ok-color;
    }

  }
}
