
.popup-comp {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  .popup-comp-inside {
    width: 800px;
    max-width: 100%;
    // min-height: 70%;
    height: 90%;
    // height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    .content {
      // height: auto;
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 1em;
      // padding-top: 1.5em;
      font-size: 0.9em;
    }
    .btns {
      width: 100%;
      // height: 10%;
      position: relative;
      padding: 1em;

      button {
        margin-left: 1em;
        margin-right: 1em;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .popup-comp {
    .popup-comp-inside {
      width: 95%;
      height: 50%;
      .btns {
        button {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
