.wizard-comp {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
