@import "../../../../styles/base.scss";
.wizard-header-comp {
  width: 100%;
  height: 5em;
  background-color: $grey-bkg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  .step-icon {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3em;
    background-color: $grey-color;
    color: $white;
    &.current {
      background-color: $secondary-color;
      width: 2.5em;
      height: 2.5em;
    }
    &.passed {
      background-color: $primary-color;
    }
    img {
      width: 45%;
    }
    .triangle {
      position: absolute;
      bottom: 0;

      width: 0;
      height: 0;
      border-right: 0.8em solid transparent;
      border-top: 1em solid transparent;
      border-left: 0.8em solid transparent;
      border-bottom: 0.7em solid $white;
    }
  }
  .separator {
    width: 2em;
    height: 0.22em;
    background-color: $grey-color;
    &.passed {
      background-color: $primary-color;
    }
  }
}
