@import "../../../styles/base.scss";
.header-comp {
  width: 100%;
  height: 5em;
  // background-color: #e4e4e4;
  display: flex;
  align-items: center;
  background-color: $secondary-color;
  box-sizing: initial;
  margin-bottom: 0.5em;
  justify-content: space-between;
  overflow: hidden;
  .logo {
    height: 50%;
    padding: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    &:hover {
      opacity: 0.9;
    }
    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media all and (max-width: 768px) {
  .header-comp {
    height: 4em;
    border-bottom: 0.8em solid rgb(70, 70, 70);
  }
}
