.step1-comp {
  padding: 2em;
  font-size: 0.9em;
  &__info {
    display: flex;
    > li {
      text-align: center;
      padding: 0 3em;
      box-sizing: border-box;
      width: 50%;
      img{
          width: 50%;
      }
    }
  }
}
