.step2-comp {
  &__inputs {
    display: flex;
    li {
      margin-right: 2em;
      position: relative;
      > h3 {
        position: relative;
        margin-bottom: 0.5em;
      }
    }
  }
  &__hint{
    &-length{
      text-align: right;
      padding: 0.5em 0;

    }
  }
}
