$primary-color: #ff0049;
$secondary-color: #002b45;
$terciary-color: #fff1e5;

$grey-bkg-color: #ccd5da;
$grey-color: #788f9c;
$cyan-color: #40c3df;

$white: #ffffff;
$black: #000000;

$error-color: red;
$warning1-color: orange;
$warning2-color: yellow;
$ok-color: green;
