.step3-comp {
  padding: 2em;
  &__info {
    display: flex;
    align-items: center;
    .icon {
      padding: 1em;
    }
  }
  &__btn {
    text-align: right;
    padding: 1em;
    font-size: 1.2em;
  }
}
