@import "styles/base";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    color: $primary-color;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &-content {
    //  width: 60%;
    width: 768px;
    max-width: 100%;

    padding: 1rem 4rem;
    h3 {
      color: $primary-color;
    }
    p {
      color: $secondary-color;
    }
  }
  &-create-account {
    background-color: $secondary-color;
    color: $white;
    padding: 1em;
  }

  article {
    padding: 1em;
  }
}
