@import "../../../../styles/base";
.wizard-tab-comp {
  display: flex;
  height: 100%;
  overflow: auto;
  flex-direction: column;
  &__content {
    display: flex;
    height: 100%;
    overflow: auto;
    flex-direction: column;
    padding: 0em 2em;
    &-comp {
      height: 100%;
    }
    &-title {
      h2 {
        margin-bottom: 0.3em;
      }
      &-under {
        width: 3em;
        height: 0.2em;
        background-color: $cyan-color;
        margin-bottom: 1.5em;
      }
    }
  }

  &__buttons {
    width: 100%;
    margin-bottom: 0;
    border-top: 1px solid $grey-bkg-color;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 3em;
    box-sizing: border-box;
    align-items: center;

    &-cancel {
      cursor: pointer;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    button {
      font-size: 1em;
    }
  }
}
